@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Login do Restaurante</h2>

    <form method="post" asp-controller="Usuario" asp-action="Index">

        <div style="margin-top: 10px">
            <label>Email</label>
            <input type="text" name="email" />
        </div>

        <div style="margin-top: 10px">
            <label>Senha</label>
            <input type="password" name="senha" />
        </div>

        <button style="margin-top: 10px" type="submit">Entrar</button>

    </form>

    @if (ViewBag.Erro != null)
    {
        <p style="color:red">@ViewBag.Erro</p>
    }
</div>
